.card-orange {
  background-color: #f8d7a5 !important; 
  color: #333; 
}

.card-blue {
  background-color: #a3dcf7 !important; 
  color: #333; 
}

.card-mustard {
  background-color: #ffe48a !important; 
  color: #333; 
}

.card-lilac {
  background-color: #f6cffd !important;
  color: #333; 
}
.card {
  border: none; 
  padding: 20px; 
  transition: transform 0.2s; 
}

.card:hover {
  transform: scale(1.05); 
}